
@mixin on-event($self: false) {
  @if $self {
    &:hover {
      @content;
    }
  } @else {
    &:hover {
      @content;
    }

    &:focus {
      @content;
    }
  }
}

.nav-icon {
  width: 20px;
  height: 20px;
}

.item-box {
  background-color: #f1f5f9;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;

  @include on-event {
    background-color: #cbd5e1;
  }
}

.fi-rr-star {
  transition: transform 0.3s;
  transform: perspective(1000px);

  @include on-event {
    transform: rotate(180deg);
  }
}

.nav-tool {
  height: 2rem;
  width: 100%;
  padding-left: 0.5rem;

  @include on-event {
    background-color: #cbd5e1;
    border-radius: 0.5rem;
  }
}

.btn-tool {
  position: relative;
  padding: 10px;
  margin: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;

  &:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1000;
  }
}

.btn-group {
  border: 1px solid #64748b;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.category-btn {
  color: #1e293b;
  width: 7rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  padding-left: 0.25rem;
  gap: 0.5rem;

  &:hover {
    color: #9ca3af;
    padding-left: 0.25rem;
  }
}

.container {
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 0 20px; 
  box-sizing: border-box; 


  @media screen and (max-width: 767px) {
    padding: 0 10px; 
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    max-width: 960px; 
  }

  @media screen and (min-width: 992px) {
  }
}
